services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: coffeeShopApp
    environment:
      - NODE_ENV=production
    depends_on:
      - db
      - rabbitmq
      - redis
    command: sh -c "sleep 5 && ./wait-for-it.sh db:5432 -- ./wait-for-it.sh rabbitmq:5672 -- npm run start:docker"
    env_file:
      - .env.production
    ports:
      - "3000:3000"
    volumes:
      - /app/node_modules
    networks:
      - backend

  consumer:
    build:
      context: .
      dockerfile: consumer/Dockerfile
    container_name: coffeeShopConsumer
    environment:
      - NODE_ENV=production
    depends_on:
      - db
      - rabbitmq
    command: sh -c "sleep 5 && ./wait-for-it.sh db:5432 -- ./wait-for-it.sh rabbitmq:5672 -- npm run start:consumer"
    env_file:
      - .env.production
    volumes:
      - /app/node_modules
    networks:
      - backend

  cron:
    build:
      context: .
      dockerfile: consumer/Dockerfile
    container_name: coffeeShopCron
    environment:
      - NODE_ENV=production
    depends_on:
      - db
      - redis
    command: sh -c "sleep 5 && ./wait-for-it.sh db:5432 -- npm run start:cron"
    env_file:
      - .env.production
    volumes:
      - /app/node_modules
    networks:
      - backend
  
  db:
    image: postgres:14
    container_name: coffeeShopDb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: coffeeshop
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=rabbitmq
      - RABBITMQ_DEFAULT_PASS=password
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend
  
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  pgdata:
  redis_data: