<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" 
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" 
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" 
  crossorigin="" />
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <title>Web GIS</title>
</head>
<body>
  <section>
    <form method="post" action="/api/user/registration">
      <fieldset>
        <label>Fullname<br><input type="text" value="" id="name" name="name"></label><br>
        <label>Email<br><input type="email" value="" id="email" name="email"></label><br>
        <label>Password<br><input type="password" value="" id="password" name="password"></label><br>
        <label>Address<br><input type="text" value="" id="address" name="address"></label><br>
        <label>Longitude<br><input type="text" value="" id="longitude" name="longitude"></label><br>
        <label>Latitude<br><input type="text" value="" id="latitude" name="latitude"></label><br>
        <button type="submit">Save</button>
      </fieldset>
    </form>
  </section>
  <aside id="map"></aside>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" 
  crossorigin=""></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <script src="../js/index.js"></script>
</body>
</html>